body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#containerContainer {
    display: flex;
    flex: 0 1 700px;
    margin: 0;
    justify-content: stretch;
    flex-direction: column;
}

.container {
    background-color: violet;
    display: flex;
    margin: 0;
    flex: 0 1 700px;
    min-width: 100%;
}

.column {
    display: flex;
    background-color: aqua;
    flex: 1 1 30px;
    flex-direction: column;
    justify-content: stretch;

}

.square {
    flex: 1 1 30px;
    margin: 1px;
    background-color: gray;
}

.coloredSquare {
    background-color: darkslategray;
}

button {
    flex-basis: 44px;
}